<%# if post.user_id == current_user.id %>
<div id="<%= dom_id post %>">


  <h2>

    <%= post.title %>
  </h2>

  <p>
    <strong></strong>
    <%= post.body %>
  </p>
  <p>
    <strong>Made by</strong>
    <%= link_to post.user.email, post.user %>
  </p>
</div>
<%# end %>